body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(205, 195, 199);
}

.header {
    color: rgb(34, 42, 69);
    padding: 20px;
    text-align: center;
}

.box {
    width: 450px;
    height: 25px;
    border: 20px solid rgb(71, 59, 68);
    padding: 20px;
    margin: auto;
}

p {
    color: rgb(71, 59, 68);
    text-align: center;
}

.paragraph1 {
    color: rgb(81, 164, 203);
    text-align: center;
}

a {
    text-align: center;
    display: block;
}

.button-container-div {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}